.container {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 400px;
}

.calendar_container {
  border: 2px solid lightgrey;
  padding: 1.5em;
  width: 50%;
  height:400px;
}

.half_past  {
  border-top: .1em dashed lightgrey
}

