.event_container {
  border: 2px solid lightgrey;
  width: 300px;
  height:1920px;
  position: relative;
}
.index_container {
  border: 2px solid lightgrey;
  width: 90px;
  height:1920px;
  position: relative;
}
.label_text {
  padding-right: 10px;
  padding-top: 10px;
}
.scheduler_container {
  display:flex;
  flex-direction:row;
}
.date_text {
  color: #4a4a4a;
  font-weight: bold;
  font-size: 30px;
  margin: 10px;
}

