
.event_container {
  border: 2px solid lightgrey;
  width: 300px;
  height:960px;
  position: relative;
}
.time_container {
  border: 2px solid lightgrey;
  width: 50px;
  height:960px;
  position: relative;
}

.schedule_container {
  display:flex; 
  flex-direction:row;
}

.v1 {
  border-bottom: 6px solid green;
  width: 100%
}
